@import "colors";

.ns-list--interactive__item {
  cursor: pointer;

  &[data-active=true] {
    color: $text-color;
  }

  &[data-hover=true] {
    background: $grey-200;
  }
}

.ns-list__items {
  display: block;
  list-style: none;
  margin: 0;
  padding: 0;
}
