.tags-input {
  position: relative;
}

.tags-input__dropdown {
  left: 0;
  top: 100%;
}

.tags-input__inner-wrap {
  align-items: center;
  cursor: text;
  display: flex;
  flex: auto;
  flex-wrap: wrap;
  margin: -2px -4px;
}

.tags-input__input {
  border: 0;
  font: inherit;
  margin: 2px 4px;
  padding: 0;
  width: 1rem;
}

.tags-input__input--fake {
  position: fixed;
  top: -9999px;
  width: auto;
}

.tags-input__tag {
  line-height: 1;
  margin: 2px 4px;
}
